html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.table {
  display: grid;
  grid-template-columns: 20px 350px 200px;
  grid-template-rows: repeat(6, 100px);
  background-color: orangered;
}

.table__tag {
  writing-mode: vertical-rl;
  border: 2px solid crimson;
  text-align: center;
  color: crimson;
}

.table__title {
  border: 2px solid crimson;
  font-size: 100px;
  color: crimson;
}

.table__right {
  border: 2px solid crimson;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.table__singer {
  border: 1px solid crimson;
  height: 50%;
  width: 100%;
  text-align: center;
  line-height: 50px;
}

.table__lottery {
  border: 1px solid crimson;
  width: 100%;
  height: 50%;
}

.table__lottery__circle {
  border: 1px solid crimson;
  border-radius: 20px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  background-color: crimson;
  color: white;
  transform: translateY(10px);
}

.chart {
  background-color: crimson;
}

.chart__table {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  grid-template-rows: repeat(6, 100px);
}

.chart__header__list {
  display: flex;
  justify-content: space-between;
  height: 15px;
  margin: 5px;
}

.chart__cell__title {
  border-top: 3px solid black;
}

.line {
  display: flex;
  height: 100%;
  text-align: center;
  writing-mode: vertical-rl;
}

.line__pink {
  height: 50%;
  border: 1px solid pink;
  background-color: pink;
}

.line__blue {
  height: 50%;
  border: 1px solid skyblue;
  background-color: skyblue;
}
